@use "sass:color";

@import './theme.scss';

// Include the common styles for Angular Material
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in the app
.inventory-system-light-theme,
.inventory-system-dark-theme {
  @include angular-material-theme($inventory-system-light-theme);
}
.inventory-system-dark-theme {
  @include angular-material-color($inventory-system-dark-theme);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  @include inventory-system-theme-styles($global: true) using ($light) {
    color: color.scale(rgb(138, 180, 248), $lightness: if($light, -15%, 0%));
  }
}

// `box-sizing: border-box;` causes scrollbars to appear for textareas with matInput and cdkTextareaAutosize
textarea.mat-input-element.cdk-textarea-autosize {
  box-sizing: content-box;
}

@include inventory-system-theme-styles($global: true) using ($light) {
  $color: mat-color($inventory-system-primary, if($light, default, lighter));

  .mat-button.mat-primary {
    color: $color;
    &.cdk-keyboard-focused .mat-button-focus-overlay {
      background-color: $color;
    }
  }
}

@include inventory-system-theme-styles($global: true) using ($light) {
  $color: mat-color($inventory-system-primary, if($light, darker, lighter));
  $warn-color: mat-color($inventory-system-warn);

  .mat-form-field {
    &.mat-focused .mat-form-field-label {
      color: $color;
    }
    & .mat-input-element {
      caret-color: $color;
    }
  }

  .mat-form-field.mat-form-field-invalid {
    .mat-form-field-label {
      color: $warn-color;
    }
    .mat-input-element {
      caret-color: $warn-color;
    }
  }
}
