@use "sass:color";

@import './theme.scss';

// Include the common styles for Angular Material
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in the app
.inventory-system-light-theme,
.inventory-system-dark-theme {
  @include angular-material-theme($inventory-system-light-theme);
}
.inventory-system-dark-theme {
  @include angular-material-color($inventory-system-dark-theme);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  @include inventory-system-theme-styles($global: true) using ($light) {
    color: color.scale(rgb(138, 180, 248), $lightness: if($light, -15%, 0%));
  }
}

// `box-sizing: border-box;` causes scrollbars to appear for textareas with matInput and cdkTextareaAutosize
textarea.mat-input-element.cdk-textarea-autosize {
  box-sizing: content-box;
}

@include inventory-system-theme-styles($global: true) using ($light) {
  // Sidenav drawer
  .mat-drawer {
    background-color: if($light, #ededed, #424242);
  }
}

@include inventory-system-theme-styles($global: true) using ($light) {
  $color: mat-color($inventory-system-primary, if($light, default, lighter));

  // Regular button (used in dialogs)
  .mat-button.mat-primary {
    color: $color;
    &.cdk-keyboard-focused .mat-button-focus-overlay {
      background-color: $color;
    }
  }

  .mat-form-field.mat-primary {
    // Date picker toggle button
    .mat-datepicker-toggle.mat-datepicker-toggle-active {
      color: $color;
    }

    &.mat-focused {
      // Select dropdown toggle arrow
      .mat-select-arrow {
        color: $color;
      }

      // Text input underline
      .mat-form-field-ripple {
        background-color: $color;
      }
    }
  }

  // Selected option in select dropdown
  .mat-select-panel.mat-primary .mat-option.mat-selected {
    color: $color;
  }
}

@include inventory-system-theme-styles($global: true) using ($light) {
  $color: mat-color($inventory-system-primary, if($light, darker, lighter));
  $warn-color: mat-color($inventory-system-warn);

  .mat-form-field {
    // Input label
    &.mat-focused .mat-form-field-label {
      color: $color;
    }
    // Input caret
    .mat-input-element {
      caret-color: $color;
    }
  }

  .mat-form-field.mat-form-field-invalid {
    // Input label
    .mat-form-field-label {
      color: $warn-color;
    }
    // Input caret
    .mat-input-element {
      caret-color: $warn-color;
    }
  }
}
