:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header-email {
    font-weight: 600;
}

.section {
    & + & {
        margin-top: 1rem;
    }
}

.fields {
    margin-bottom: 1rem;

    .row {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        > * + * {
            margin-left: 1rem;
        }

        .field-m {
            min-width: 25em;
        }

        .checkbox-field {
            .errors {
                display: flex;
                flex-direction: column;

                &:not(:empty) {
                    margin-top: .5rem;
                }
            }
        }
    }
}

.email-confirmation-url-container {
    margin-top: 1rem;

    display: flex;
    flex-direction: column;

    .copy-button {
        width: min-content;
    }
}
