<inventory-system-page title="Users" backLink=".." backText="Admin Dashboard">
  <ng-container *inventorySystemSpinWhileLoading="(loading$ | async)!">
    <div [formGroup]="form" class="controls">
      <mat-form-field class="filter">
        <mat-label>Filter</mat-label>
        <input matInput formControlName="filter">
      </mat-form-field>

      <a mat-raised-button color="primary" routerLink="create">Create</a>
    </div>

    <div class="table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="roles"
        matSortDirection="desc"
        class="table"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let appUser">
            <a [routerLink]="[appUser.id, 'edit']">{{appUser.id}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let appUser">{{appUser.email}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let appUser">{{appUser.name}}</td>
        </ng-container>

        <ng-container matColumnDef="emailConfirmed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Confirmed</th>
          <td mat-cell *matCellDef="let appUser">{{appUser.emailConfirmed | boolean}}</td>
        </ng-container>

        <ng-container matColumnDef="lockedOut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Locked Out</th>
          <td mat-cell *matCellDef="let appUser">{{appUser.lockedOut | boolean}}</td>
        </ng-container>

        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
          <td mat-cell *matCellDef="let appUser">{{stringifyAppRoles(appUser)}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="columns.length">
            <span>No users</span>
            <span *ngIf="form.value.filter !== ''"> matching the filter "{{form.value.filter}}"</span>
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="pageSize$ | async" (page)="nextPageSize$.next($event.pageSize)"></mat-paginator>
  </ng-container>
</inventory-system-page>
