@import '../../../../../theme.scss';

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@include inventory-system-theme-styles using ($light) {
    .arrow-up {
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid if($light, rgba(0, 0, 0, 0.54), #1E1E1E);
    }

    .container {
        border: 1px solid if($light, #babfc7, #1E1E1E);
        border-radius: 3px;
        box-shadow: 0 1px 4px 1px if($light, rgb(186 191 199 / 40%), #1E1E1E);

        background-color: if($light, #f8f8f8, #424242);
        color: if($light, #181d1f, white);

        padding: 12px;
    }
}
