<ng-container *ngLet="signedIn$ | async as signedIn">
  <ng-container *ngIf="signedIn.loading; else loadedContent">
    <inventory-system-loading></inventory-system-loading>
  </ng-container>
  <ng-template #loadedContent>
    <ng-container *ngIf="!signedIn.signedIn; else signedInContent">
      <inventory-system-landing></inventory-system-landing>
    </ng-container>
    <ng-template #signedInContent>
      <inventory-system-dashboard></inventory-system-dashboard>
    </ng-template>
  </ng-template>
</ng-container>
