.container {
    padding: 1rem;
}

.header-email {
    font-weight: 500;
}

.email-confirmation-url-container {
    display: flex;
    flex-direction: column;

    .copy-button {
        width: min-content;
    }
}
