<inventory-system-page title="Assignees" backLink=".." backText="Inventory">
  <ng-container *inventorySystemSpinWhileLoading="(loading$ | async)!">
    <div [formGroup]="form" class="controls">
      <mat-form-field class="filter">
        <mat-label>Filter</mat-label>
        <input matInput formControlName="filter">
      </mat-form-field>

      <a mat-raised-button color="primary" routerLink="create">Create</a>
    </div>

    <div class="table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortActive="name"
        matSortDirection="asc"
        class="table"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let assigneeHistory">
            <a [routerLink]="assigneeHistory.assignee.id">{{assigneeHistory.assignee.id}}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let assigneeHistory">{{assigneeHistory.lastUndeletedSnapshot.name}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let assigneeHistory">{{assigneeHistory.lastUndeletedSnapshot.email}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="columns.length">
            <span>No assignees</span>
            <span *ngIf="form.value.filter !== ''"> matching the filter "{{form.value.filter}}"</span>
          </td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
  </ng-container>
</inventory-system-page>
