<ng-container *ngLet="{
  loading: loading$ | async,
  createdAppUser: createdAppUser$ | async,
  createdAppUserEmailConfirmationUrl: createdAppUserEmailConfirmationUrl$ | async
} as vars">
  <ng-template #pageTitle>
    <span>User Created</span>
    <span *ngIf="!vars.loading!">: <strong>{{vars.createdAppUser!.email}}</strong></span>
  </ng-template>
  <inventory-system-page [title]="pageTitle" backLink="../../create" backText="Create User">
    <ng-container *inventorySystemSpinWhileLoading="vars.loading!">
      <p><a routerLink="../edit">Edit {{vars.createdAppUser!.email}}</a></p>

      <p>
        The new user <b>{{vars.createdAppUser!.email}}</b> has been created. They have been emailed a link to the page where they will confirm their email and create their password. If you wish to send this link manually, copy it below.
      </p>

      <div class="email-confirmation-url-container">
        <mat-form-field appearance="fill">
          <mat-label>Email confirmation URL</mat-label>
          <textarea #emailConfirmationUrlTextArea
            matInput
            cdkTextareaAutosize
            readonly
            (click)="emailConfirmationUrlTextArea.select()"
          >{{vars.createdAppUserEmailConfirmationUrl!}}</textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" class="copy-button" (click)="copyCreatedAppUserEmailConfirmationUrl()">Copy</button>
      </div>
    </ng-container>
  </inventory-system-page>
</ng-container>
