:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header-email {
    font-weight: 600;
}

.email-confirmation-url-container {
    display: flex;
    flex-direction: column;

    .copy-button {
        width: min-content;
    }
}
