@model AppPageModelBase
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<header>
    <h1>Manage your account</h1>
    <h4>Change your account settings.</h4>
</header>
<hr />

<div class="row">
    <div class="col-md-3"><partial name="_ManageNav" /></div>
    <div class="col-md-9">@RenderBody()</div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}
