@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<header><h4>@ViewData["Title"]</h4></header>
<hr />

<partial name="_StatusMessage" for="StatusMessage" />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post">
    <input asp-for="Email" class="d-none" autocomplete="username" />

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input!.OldPassword"></label>
                <input asp-for="Input!.OldPassword" class="form-control" autocomplete="current-password" />
                <span asp-validation-for="Input!.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input!.NewPassword"></label>
                <input asp-for="Input!.NewPassword" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Input!.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input!.ConfirmPassword"></label>
                <input asp-for="Input!.ConfirmPassword" class="form-control" autocomplete="new-password" />
                <span asp-validation-for="Input!.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Change password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}