@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<header><h4>@ViewData["Title"]</h4></header>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="checkbox">
        <label asp-for="HasPassword">
            <input asp-for="HasPassword" disabled />
            @Html.DisplayNameFor(m => m.HasPassword)
        </label>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}